#white {
    color: white;
}

html {
    font-size: 62.5%;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
  }

.top-margin {
  margin-top: 6rem
}

.wrapper {
    margin: 100px auto 0 auto;
    max-width: 600px;
    text-align: center;
  }

button {
    padding: 0.4rem 2rem;
    font-size: 3rem;
    border-radius: 7px;
    background-color: #8ADEB4;
    color: white;
    margin: 0 1rem;
}

.choice-buttons {
    display:block;
    margin: .5rem;
}

/* .restart-button {
    display: block;
    margin: 2rem 0;
} */

h1 {
    font-size: 4.5rem;
    margin-bottom: 2rem;
}

p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 3rem;
    margin-bottom: 4rem;
}

.hide {
    display: none;
}

label {
    font-size: 2rem;
}

input {
    font-size: 2rem;
}

li {
    font-size: 2rem;
    text-align: left;
    background-color: #8ADEB47F;
    padding: 1rem;
    margin: 1rem;
}

.block{
    display:block;
}

.center {
    text-align: center;
    padding:2rem 0;
}